
.heading_1{
      margin-top: 10%;
      margin-left: 30%;
      font-size: larger;
      margin-bottom: 10%;
      color: brown;
      font-style: oblique;
      text-decoration-line: underline;
      text-decoration-color: blue;

}
.paper_links{

   margin-left: 10%;
   display: inline;

}