.page2{
    margin-left: 10%;
    color: brown;
    display: inline-block;
    text-decoration: wavy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    background-color: blue;
    
}